extends ../layout

block content
  include ../nav
  .row
    for product in products
      form(method='POST', action=`/cart/${product.id}`)
        .col.s12.m4
          .card
            .card-image()
              a(href=`/products/${product.id}`)
                img(src=`${product.image}`, alt='product shot')
                if product.quantity > 0
                  span.card-title in-stock
                else
                  span.card-title out-of-stock

            .cart-action.center
              h5= product.product
              h4 $#{product.price}
              p.center= product.description

              .flex-container.center
                .flex-item
                  a.btn-floating.btn-small.waves-effect.waves-light.bottle.add(class=`product-${product.id}`)
                    i.material-icons add

                .flex-item
                  .input-field
                    input.center-align.black-text(id=`product-${product.id}-id`, type='text', name='quantity' values=`${product.cart || 0}`)
                    input.hide(type='text', name='price', value=`${product.price}`)
                    input.hide(type='text', name='product', value=`${product.product}`)
                    input.hide(type='text', name='id', value=`${product.id}`)
                    input.hide(type='text', name='image', value=`${product.image}`)

                .flex-item.center
                  a.btn-floating.btn-small.waves-effect.waves-light.bottle.remove(class=`product-${product.id}`)
                    i.material-icons remove

              .row.center
                .input-field
                  input.btn(type='submit', value='add')

