extends ../layout

block content
  br
  br
  if error
    span.error-badge.red.white-text.badge(data-badge-caption=`${error}`)

  .row.checkout-list
    .col.s12.l10.offset-l1
      .card.cart_table.center-align
        .card-content
          h5.privacy_heading You have #{cart_info.items} Item in Your Cart
          .row
            .col.s3
              h3.par item

            .col.s3
              h3.par quantity

            .col.s3
              h3.par price
            .col.s3

          for product in cart
            .row
              form(action=`/cart/${product.id}`, method='POST')
                .col.s3
                  .chip
                    img(src=`${product.image}`, alt='product shot')
                    b= product.product
                .col.s3
                  .input-field.updateQuant
                    input(type='number', name='quantity', value=product.quantity, min='0', style='text-align: center; border: 1px solid lightgrey')
                  .input-field.hide
                    input.hide(type='text', name='price', value=`${product.price}`)
                    input.hide(type='text', name='product', value=`${product.product}`)
                    input.hide(type='text', name='id', value=`${product.id}`)
                    input.hide(type='text', name='image', value=`${product.image}`)
                    input.hide(type='number', name='update', value=1)
                .col.s3
                  p.par(style='text-align: center;') $#{product.price}
                .col.s3
                  input.gc-button.lightGrey.par(type='submit', value='apply')

    .row
      .col.s5.offset-s1
        br
        .card.cart_table
          .card-content
            form(action='/cart/promos', method='POST')
              p.par Have a Promo code?
              .input-field
                input.validate(name='code', type='text')
              label.par promo code
                br
                br
                input.gc-button.lightGrey_color.par(type='submit', value='apply')
      .col.s5
        .card.cart_table
          .card-content
            h5.par Order Summary
            p.par SUBTOTAL
              span.right $#{cart_info.total}

            if promo
              hr
              p.par PROMO
                span.right -#{promo.value}

            hr
            p.par TOTAL
              span.right $#{cart_info.gross}
          .card-action.center
            a.gc-button.lightGrey_color.par(href='/cart/shipping') proceed to shipping