extends ../layout

block content
  br
  br
  if error
    span.error-badge.red.white-text.badge(data-badge-caption=`${error}`)

  .row.checkout-list
    .col.s12.l12
      h1.pageTitle.center-align CART
        .card.cart_table.center-align
          .card-content
            h5.privacy_heading You have #{cart_info.items} Item in Your Cart
            hr
            table.bordered.centered
              thead
                tr
                  th.par Item
                  th.par Quantity
                  th.par Price
                  th.par Total
              tbody
                for product in cart
                  tr
                    td
                      .chip
                        img(src=`${product.image}`, alt='product shot')
                        b= product.product

                    td= product.quantity
                    td $#{product.price}
                    td $#{product.total}
    .row
      .col.s12
        .col.s6
          br
          .card.cart_table
            .card-content
              form(action='/cart/promos', method='POST')
                p.par Have a Promo code?
                .input-field
                  input.validate(name='promo', type='text')
                label.white-text.par promo code
                  br
                  br
                  input.gc-button.lightGrey_color.par(type='submit', value='apply')
        .col.s6
          .card.cart_table
            .card-content
              h5.par Order Summary
              hr
                span.right $#{cart_info.total}
              hr
              p.par Shipping
                span.right $#{5.00}
              hr
              p.par Shipping
                span.right $#{5.00}
              br
              br
            a.gc-button.lightGrey_color.par(href='/cart/charge') checkout
