extends ../layout

block content
  .row
    .col.s8.offset-s2.center
      h5.pageTitle.bordered Your Order
  .row
    .col.s8.offset-s2
      p Cart Totals
        span.right $#{cart_info.total}
      p Shipping
        span.right $#{shipping}
      .bordered
      p Total
        span.right $#{cart_total}
      .bordered
      form(action='/cart/charge', method='POST')
        article
          label Amount: $#{cart_info.gross}
        script(
          src='//checkout.stripe.com/v2/checkout.js',
          class='stripe-button',
          data-key=keyPublishable,
          data-locale='auto',
          data-description='go-chu',
          data-amount=`${stripe_total}`
        )
