extends ../layout

block content
  .checkout
    form(action='/cart/billing', method='POST')
      .row.checkout-list
        hr
        p.white-text.par Returning customer? Click here to
         a(href='/auth/login') &nbsp;login
        hr

      .row
        .col.s4.offset-s2
          h5.pageTitle Shipping Address
          #alt_address
            .row
              .input-field.col.s6
                input.validate(id='first_name', type='text')
                label.white-text.par(for='first_name') first name

              .input-field.col.s6
                input.validate(id='last_name', type='text')
                label.white-text.par(for='last_name') last name

            .row
              .input-field.col.s12
                input.validate(id='company_name', type='text')
                label.white-text.par(for='company_name') company name

            .row
              .input-field.col.s12
                input.validate(id='address', type='text')
                label.white-text.par(for='address') address

            .row
              .input-field
                input.validate(id='address_2', type='text')
                label.white-text.par(for='address_2') apt, suit, unit (optional)

            .row
              .input-field.col.s12
                input.validate(id='city', type='text')
                label.white-text.par(for='city') city

            .row
              .input-field.col.s6
                input.validate(id='state', type='text')
                label.white-text.par(for='state') state

              .input-field.col.s6
                input.validate(id='zip', type='text')
                label.white-text.par(for='zip') zip
            .row
              h5.pageTitle Billing Address
              input.validate(type='checkbox' id='alt_address_check' checked)
              label.white-text.par(for='alt_address_check') same as shipping?

            #billing
              .row
                .input-field.col.s6
                  input.validate(id='first_name', type='text')
                  label.white-text.par(for='first_name') first name

                .input-field.col.s6
                  input.validate(id='last_name', type='text')
                  label.white-text.par(for='last_name') last name

              .row
                .input-field.col.s12
                  input.validate(id='company_name', type='text')
                  label.white-text.par(for='company_name') company name

              .row
                .input-field.col.s12
                  input.validate(id='address', type='text')
                  label.white-text.par(for='address') address

              .row
                .input-field
                  input.validate(id='address_2', type='text')
                  label.white-text.par(for='address_2') apt, suit, unit (optional)

              .row
                .input-field.col.s12
                  input.validate(id='city', type='text')
                  label.white-text.par(for='city') city

              .row
                .input-field.col.s6
                  input.validate(id='state', type='text')
                  label.white-text.par(for='state') state

                .input-field.col.s6
                  input.validate(id='zip', type='text')
                  label.white-text.par(for='zip') zip


        .col.s3.offset-s1.white-text.par
          h5.pageTitle Your Order
          hr
          p Cart Totals
            span.right $#{cart_info.total}
          p Shipping
            span.right $#{shipping}
          hr
          p Total
            span.right $#{cart_info.total}
          form(action='/cart/charge', method='POST')
            script(
              src='//checkout.stripe.com/v2/checkout.js',
              class='stripe-button',
              data-key=keyPublishable,
              data-locale='auto',
              data-description='Sample Charge',
              data-amount=`${stripe_total}`
            )
