extends ../layout

block content
  form(action='/cart/billing', method='POST')
    .row.checkout-list
      hr
      p Returning customer? Click here to login
      hr
      if(user)
        include charge_user
      else
        include charge_guest

      .card
        .card-content
          h5 Your Order
          hr
          p Cart Totals
            span.right $#{cart_info.total}
          p Shipping
            span.right $#{shipping}
          hr
          p Total
            span.right $#{cart_info.total}
          form(action='/cart/charge', method='POST')
            script(
              src='//checkout.stripe.com/v2/checkout.js',
              class='stripe-button',
              data-key=keyPublishable,
              data-locale='auto',
              data-description='Sample Charge',
              data-amount=`${stripe_total}`
            )

