extends ../layout

block content
  br
  br
  for product in products
    .row
      .col.s12.l3
        h5.privacy_heading.center-align gochu
        p.par Lorem ipsum dolor sit amet consectetur adipisicing elit.
          |Tenetur quae molestiae veniam iste magnam optio soluta sunt
          |vel corporis. Tenetur rem molestiae numquam ea culpa quae.
          |Cupiditate, at. Incidunt, asperiores.

      .col.s12.l3
          img.materialboxed.prod_img(src=`${product.image}`)
          //- img.materialboxed.prod_img(src='/images/cart/prod_noBackground.png')
      form(action=`/cart/${product.id}`, method='POST')
        .input-field.col.s12.l3
          select.white-text.par
            option(value='', disabled, selected) choose option
            option(value=3) 3 bottles
            option(value=5) 5 bottles
            label Packs
          br

        .input-field.col.s12.l3
          select.white-text.par(name='quantity')
            option(value='', disabled, selected) choose option
            option(value=1) 1
            option(value=2) 2
            option(value=3) 3
            option(value=4) 4
            option(value=5) 5
            option(value=6) 6
            option(value=7) 7
            option(value=8) 8
            option(value=9) 9
            option(value=10) 10
            label Amount
          .input-field.hide
              input.hide(type='text', name='price', value=`${product.price}`)
              input.hide(type='text', name='product', value=`${product.product}`)
              input.hide(type='text', name='id', value=`${product.id}`)
              input.hide(type='text', name='image', value=`${product.image}`)
          br
          .input-field
            input.gc-button.lightGrey_color(type='submit', value=' add to cart ')

    //- .row.shopping-bar
    //- .gallery-container
    //-   .row.center
    //-     b worded to break up the flow here
    //-     p more words down here

    //-   .divider
    //-   .row.gallery
    //-     .col.s3.left-gallery
    //-       h4 SAUCE
    //-       b The Original

    //-     .col.s9.right-gallery
    //-       for product in products
    //-         .col.s12.m6
    //-           .card.z-depth-0
    //-             .card-image
    //-               a(href=`/products/${product.id}`)
    //-                 img(src=`${product.image}`, alt='product shot')
    //-                 if product.quantity > 0
    //-                   span.card-title in-stock
    //-                 else
    //-                   span.card-title out-of-stock

    //-             .cart-action.center
    //-               a(href=`/products/${product.product}`)= product.product
    //-               p.center= product.description
    //- .divider.carousel-divider
    //- .carousel.carousel-slider
    //-   a.carousel-item(href='#!')
    //-     img(src='/images/slide/contrast.jpg', alt='carousel 1')
    //-   a.carousel-item(href='#!')
    //-     img(src='/images/slide/cornered.jpg', alt='carousel 2')
    //-   a.carousel-item(href='#!')
    //-     img(src='/images/slide/gochu_slide_1.jpg', alt='carousel 3')
    //-   a.carousel-item(href='#!')
    //-     img(src='/images/slide/stairs.jpg', alt='carousel 4')
