extends ../layout

block content
  .row.center
    h1= product.product
    b= product.description
  .divider
  .row.product-container
    .col.s12.m6.center
      img.product-shot(src=`${product.image}`, alt='product shot')
    .col.s12.m6.left
      form(method='POST', action=`/cart/${product.id}`)
        .row
          .input-field.col.s12
            select(name='quantity')
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
              option(value='6') 6
              option(value='7') 7
              option(value='box') box
            label Quantity
          .input-field.hide
            input.hide(type='text', name='price', value=`${product.price}`)
            input.hide(type='text', name='product', value=`${product.product}`)
            input.hide(type='text', name='id', value=`${product.id}`)
            input.hide(type='text', name='image', value=`${product.image}`)

        .row
          h4 $#{product.price}
          .input-field
            input.btn(type='submit', value='add to cart')
  .row.product-container
    .col.s12.m8
      h5 ABOUT THIS ITEM
      p imply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

      h5 DETAILS
      p imply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum



